<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
 <Fragment>

 <!-- Ensure PowerShell is installed and obtain the PowerShell executable location -->
   <Property Id="POWERSHELLEXE">
     <RegistrySearch Id="POWERSHELLEXE"
                     Type="raw"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
                     Name="Path" />
   </Property>

   <Condition Message="This application requires Windows PowerShell.">
     <![CDATA[Installed OR POWERSHELLEXE]]>
   </Condition>

 <!--Define the CustomAction for running the PowerShell script-->
 <CustomAction Id="RegisterPSCmd"
          Property="RegisterPowerShellProperty"
          Value="[POWERSHELL] -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quote;[INSTALLDIR]install-service-filebeat.ps1&quote;"
          Execute="immediate" />

<CustomAction Id="RegisterPSCmdUninstall"
          Property="RegisterPowerShellPropertyUninstall"
          Value="[POWERSHELL] -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quote;[INSTALLDIR]uninstall-service-filebeat.ps1&quote;"
          Execute="immediate" />

<CustomAction Id="RegisterPowerShellProperty"
              BinaryKey="WixCA"
              DllEntry="CAQuietExec64"
              Execute="deferred"
              Return="check"
              Impersonate="no" />

<CustomAction Id="RegisterPowerShellPropertyUninstall"
              BinaryKey="WixCA"
              DllEntry="CAQuietExec64"
              Execute="deferred"
              Return="check"
              Impersonate="no" />



 </Fragment>
</Wix>
